torch
torchvision
transformers
modelscope
TensorFlow==2.9.1
keras==2.9.0
opencv-python
git+https://github.com/openai/CLIP.git
matplotlib
pycocotools
timm
SentencePiece
tf_slim
tf_keras
pyclipper
shapely
