# Byte-compiled / optimized / DLL files
__pycache__/

# custom
**/screenshot/*
**/temp/*

*openai_key*
*qwen_key*
*api_key*
*gemini_key*
*claude_key*
logs/*
README_submission.md
screenshot/*
.DS_Store
testing.sh