torch
torchvision
transformers
opencv-python
timm
SentencePiece
pyclipper
pycocotools
yapf
sortedcontainers
supervision==0.21.0
simplejson
addict
termcolor
shapely
datasets
modelscope
matplotlib
dashscope
